@import '../../../shared.scss';

::ng-deep {
  ngx-file-picker {
    max-width: 100% !important;
  }

  .file-drop-wrapper {
    padding: 0rem !important;
    border-radius: $border-radius;
  }

  #dropZone {
    max-width: 100% !important;
    border: 0px solid $border-color-1 !important;
  }

  file-drop {
    padding: 0 !important;
  }

  .files-preview-wrapper {
    //position: absolute;
  }

  file-preview-item {
    padding: 5px 5px !important;
    border-bottom: 0px solid transparent !important;
  }

  file-preview-container {
    background-color: white !important;
    flex-direction: row !important;
    flex-wrap: wrap;
    max-height: 250px;
  }

}

.single-close{
  .close-remove{
    top: -6px;
    right: -5px;
  }
}

.card-attach {
  display: block;
  background-color: white;
  padding: .35rem;
  border-radius: $border-radius;
  border: solid 1px $border-color-1;
  transition: all .1s;
  width: 135px;
  height: 145px;
}

.card-attach:hover {
  box-shadow: $shadow-custom;
  border: solid 1px $border-color;

  .wrapper-icon {
    opacity: 1;
  }
}

.icon-padding {
  font-size: 2.5rem;
  background-color: #f5f6fa;
  padding: 0.35rem 1rem;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.total {
  font-size: 1.2rem;
  font-weight: 500;
}

.close-remove {
  background-color: white;
  border: 0;
  cursor: pointer;
  font-size: 18px;
  position: absolute;
  right: 0;
  border-radius: 29px;
  top: 0;
  box-shadow: $shadow-custom
}

.loading-parent {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;

  .loading-child {
    background: #ffffffa6;
    position: relative;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.single-close{
  .close-remove{
    top: -6px;
    right: -5px;
  }
}

.card-attach {
  display: block;
  background-color: white;
  padding: .35rem;
  border-radius: $border-radius;
  border: solid 1px $border-color-1;
  transition: all .1s;
  width: 135px;
  height: 145px;
}

.card-attach:hover {
  box-shadow: $shadow-custom;
  border: solid 1px $border-color;

  .wrapper-icon {
    opacity: 1;
  }
}
