@import '../../../../../shared.scss';

.block-body {
  height: calc(100vh - 118px);
  overflow-y: auto;
  background-color: $bg-white;
  border-right: solid 1px $border-color-1;
  //margin-top: -.5rem;
  transition: all .1s;
  position: relative;

}

.block-body:hover {
  box-shadow: $shadow-custom;
  z-index: 4;
}

.block-body:first-child {
  border-left: solid 1px $border-color-1;
}

.tab-title {
  background: $bg-white;
  position: absolute;
  width: 100%;
  border-bottom: solid 1px $border-color-1;
  z-index: 3;
}

.margin-card {
  margin-top: 2rem;
}

.description {
  font-size: 90%;
  line-height: 1.4rem;
  letter-spacing: .1px;
  text-rendering: optimizeLegibility;
}

.attachment img {
  width: 125px;
  height: 125px;
  object-fit: cover;
  margin-right: .35rem;
  margin-bottom: .35rem;
  border-radius: $border-radius;
}



.inbox {
  .avatar {
    width: 30px;
    height: 30px;
    border-radius: $border-radius;
  }

  .message {
    font-size: 90%;
    line-height: 1.4rem;
    letter-spacing: 0.1px;
    text-rendering: optimizeLegibility;
    border-bottom: solid 1px $border-color-2;
  }
}

.wrapper-text-area {
  bottom: 0;
  left: 0;
  min-height: 10rem;
  position: relative;
  background-color: #fff7d6;
  border-bottom: solid 1px $border-color-1;

  .text-area {
    position: absolute;
    width: 100%;
    height: calc(10rem - 45px);
  }

  .button-send {
    bottom: 0;
    right: 0;
    position: absolute;
    background: $bg-white;
    //font-size: 1.65rem;
    margin: .3rem;
    border-radius: $border-radius;
  }
}

.zone-status {
  border-radius: $border-radius;
  background-color: #fff7d6;
  //border: solid 1px #ffe5b9;
  font-weight: 500;
}

app-card-ticket {
  position: relative;
  border-color: transparent;
  border-radius: 0;
}

app-card-ticket:hover {
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: $border-color-1;
}

.sub-header {
  border-bottom: solid 1px $border-color-1;

  .image-accommodation {
    border-radius: $border-radius;
    width: 65px;
    height: 65px;
    object-fit: cover;
  }
}

.zone-cells {
  .cell {
    .icon{
      font-size: 2.5rem;
    }
    //background: red;
    display: flex;
    font-size: 85%;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 10em;
    border: solid 1px $border-color-1;
    border-right-color: transparent;
    border-bottom-color: transparent;
  }
  .label{
    font-weight: 500;
  }
  .value{
    font-size: 0.8rem;
    font-weight: 500;
    padding: .25rem;
    //background: $base-color-secondary-1;
    //border-radius: $border-radius;
    //border:solid 1px #81b6ff

  }

  .cell:first-child {
    border-left-color: transparent;
  }
  .cell:nth-child(3){
    border-right-color: transparent;
  }
  .cell:nth-child(4){
    border-left-color: transparent;
    border-bottom-color: $border-color-1;
  }
  .cell:nth-child(5), .cell:nth-child(6){
    border-bottom-color: $border-color-1;
  }
}
