@import '../../../shared.scss';

:host {
  background: $base-color-1;
  height: 60px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  align-content: center;
  box-shadow: $shadow-custom;
  border-bottom: solid 1px $border-color;
}

.text-logo {
  font-weight: 500;
  padding: 0 0 0 60px;
}

.menu ul li {
  border-radius: .25rem;
  border: solid 1px #f7f7f7;
  font-size: .8rem;
}

.btn-search-input {
  background-color: #fbfbfb;
  border: solid 1px #f7f7f7;
  padding: 5px 15px;
  color: #b3b3b3;
  width: 100%;
  border-radius: $border-radius;
  text-align: left;
}

.uil {
  color: $text-color-1;
  font-size: 1.25rem;
}
.dropdown-item{
  cursor: pointer;
}
.logo-avantio {
  width: 25px;
  height: 30px;
  object-fit: contain;
}
